*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html, body{
  width: 100%;
  height: 100%;
}

body{
  background-color: #222;
}

/* .btn{
  width: fit-content;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 600;
  color: white;
  border: none;
  margin: 10px;
  background-color: blue;
} */

/* .nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: teal;
  color: white;
  padding: 10px 20px;
  margin: 5px;
} */