*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html, 
body{
  width: 100%;
  height: 100%;
}

body{
  background-color: #222;
  color: white;
}

button{
  margin: 10px;
}

input{
  margin: 10px;
  padding: 10px 20px;
}

.box{
  background-color: lightseagreen;
  width: 200px;
  height: 200px;
  margin: 30px;
}