*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html, body{
  width: 100%;
  height: 100%;
}

body{
  color: #fff;
  background-color: black;
}
.parent{
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}
.card{
  width: 300px;
  background-color: blue;
  border: 1px solid white;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
}
.card img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 50%;
}
.card h1{
  font-size: 25px;
  margin: 10px 0;
}
.card button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: teal;
  margin: 10px 0;
}