*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  width: 100%;
  height: 100%;
}

body{
  background-color: #111;
  color: #fff;
}

.card{
  background-color: lightblue;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

.nav{
  background-color: blue;
  color: White;
  margin: 5px;
  padding: 20px;
}