*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html, body{
  width: 100%;
  height: 100%;
}

body{
  background-color: #333;
  color: white;
}

button{
  background-color: blue;
  font-weight: 800;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid white;
}