*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
}

h1{
    padding: 20px;
    background-color: gainsboro;
    width: 100px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
}

button{
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    background-color: lightseagreen;
    color: white;
    
}